@font-face {
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
  src: url(../../assets/font/AvenirNextLTPro-Regular.otf) format("otf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next", Verdana, Geneva, Tahoma, sans-serif;
  src: url(../../assets/font/AvenirNextLTPro-Bold.otf) format("otf");
  font-weight: 700;
}
