@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.login {
  background-color: $primary-4;
  padding: 1rem;
  &__container {
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba($color: $primary-2, $alpha: 0.5);

    @include tablet {
      flex-direction: row;
    }
    @include desktop {
      width: 102rem;
      margin: auto;
    }
  }
}

.signin {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $primary-2;

  @include tablet {
    width: 50%;
    border: none;
  }

  @include tablet {
    width: 50%;
  }

  &__heading {
    margin: 2rem 1rem 0rem 1rem;
    @include tablet {
      font-size: 2.8rem;
      margin: 2rem 1rem 0rem 2rem;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__field {
    margin: 1rem;
    @include tablet {
      margin: 2rem;
    }
    &--text {
      margin: 2rem 0rem 1rem 0rem;
      font-size: 1.6rem;
      @include tablet {
        font-size: 1.8rem;
      }
    }
    &--input {
      flex-grow: 1;
      min-width: 20rem;
      font-size: 1.6rem;
      border: 1px solid rgba($color: $black, $alpha: 0.5);
      border-radius: 4px;
      @include tablet {
        width: 100%;
        @include tablet {
          font-size: 1.9rem;
        }
      }
    }
  }
  &__btn {
    margin: 1rem 1rem 3rem 1rem;
    padding: 1rem 6rem;
    border-radius: 1rem;
    border: 1px solid rgba($color: $primary-2, $alpha: 1);
    background-color: $primary-4;
    font-size: 1.6rem;
    font-weight: bold;
    @include tablet {
      font-size: 2rem;
      margin: 1rem 2rem 3rem 2rem;
    }
  }
}

.signup {
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 50%;
    border-left: 1px solid $primary-2;
  }
  &__heading {
    margin: 2rem 1rem 1rem 1rem;
    @include tablet {
      font-size: 2.8rem;
      margin: 2rem 1rem 2rem 2rem;
    }
  }
  &__btn {
    margin: 1rem;
    padding: 1rem 6rem;
    border-radius: 1rem;
    border: 1px solid rgba($color: $primary-2, $alpha: 1);
    background-color: $primary-4;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    @include tablet {
      font-size: 2rem;
      margin: 2rem 2rem;
    }
  }
}
